{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="bg-danger container">
        <h1>GO LES HIGH FIVE</h1>
        <h2>ON EST CHAUD</h2>
    </div>
{% endblock %}